@media screen and (min-width: 600px) {
	.narutoImg {
		position: fixed;
		bottom: 0px;
		left: 0px;
	}

	.interactiveContent {
		@include display-setting(grid);
		margin-top: -40px;

		.create-todo {
			margin-top: 0px;

			h4 {
				font-size: $font-size-lg;
			}
		}
	}
}
